/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'Formata-Medium';
    src: url('original_Formata-Medium.eot?#iefix') format('embedded-opentype'), 
         url('original_Formata-Medium.woff') format('woff'),
         url('original_Formata-Medium.ttf') format('truetype'),
         url('original_Formata-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}